<%= provide(:title, 'Home') %>

<%= currently_at 'Home' %>

<section id='middle-section'>
  <header>
    <h1>Statistics</h1>
  </header>
  <p>
    <strong>apptrack</strong> is hosting 
    <%= pluralize(@project_count, 'project') %> with
    <%= pluralize(@track_count, 'track') %> and 
    <%= pluralize(@comment_count, 'comment') %>.
  </p>
  <p>
    We have currently <%= pluralize(@user_count, 'user') %> in apptrack.
  </p>
  <header>
    <h2>Our top projects</h2>
  </header>
  <table>
    <thead>
      <tr><th>Rank</th><th>Project</th><th>Tracks</th><th>Comments</th></tr>
    </thead>
    <tbody>
      <% rank = 0 %>
      <% @projects.each do |project| %>
        <tr>
          <td><%= rank += 1 %></td>
          <td><%= link_to project.title, project_path(project) %></td>
          <td><%= project.tracks_count %></td>
          <td><%= project.comments_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section id='left-section'>
  <header>
    <h1>Welcome to apptrack</h1>
  </header>

  <article>
    <p>
      <strong>apptrack</strong> provides a platform to to support colaborative
      application development. 
    </p>
    <p> 
      You can create a project and invite contributors to the project. Users as
      well as the project owner, the one who created the project, and the 
      contributors can created tracks, that is features or issues, that also 
      can be commented.
    </p>
    <p>
      Using <strong>apptrack</strong> is free. To create projects, tracks or
      comments you have to be signed in. 
      <% unless current_user %>
        If you don't have an account yet
        just <%= link_to 'sign up', signup_path %> now.
      <% end %>
    </p>
    <% unless current_user %>
      <section id="button-section">
        <%= link_to 'Sign up now!', signup_path, class: 'ok-button-large' %>
        <%= link_to 'Sign in to your account', 
                    signin_path, class: 'button-large' %>
      </section class="button-section">
    <% else %>
      <section id="button-section">
                  <%= link_to 'Invite to apptrack!', 
                    invite_path, class: 'ok-button-large' %>
      </section>
    <% end %>
  </article>

</section>



