<%= currently_at 'Projects' %>

<%= form_for([@project, @track]) do |f| %>
  <%= render partial: 'shared/errors', locals: { attribute: @track } %>
  <fieldset>
    <ol>
      <li class='required'>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li class='required'>
        <%= f.label :description %>
        <%= f.text_area :description, cols: 40, rows: 7 %>
      </li>
      <%= render 'shared/markdown_instructions' %>
      <li>
        <%= f.label :version %>
        <%= f.text_field :version %>
      </li>
      <li>
        <%= f.label :category %>
        <%= f.select :category, Track::CATEGORY_TYPES, 
                     selected: 'Feature' %>
      </li>
      <li>
        <%= f.label :status %>
        <%= f.select :status, Track::STATUS_TYPES,
                     selected: 'Open' %>
      </li>
      <li>
        <%= f.label :sequence %>
        <%= f.number_field :sequence  %>
      </li>
      <p>
        <%= f.submit class: "button" %> |
        <%= link_to "Cancel", :back %>
      </p>
    </ol>
  </fieldset>
<% end %>
