<%= currently_at 'Projects' %>

<%= form_for([@project, @track]) do |f| %>
  <%= render partial: 'shared/errors', locals: { attribute: @track } %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_area :description, cols: 40, rows: 7 %>
      </li>
      <p>
        <%= f.submit class: "button" %> |
        <%= link_to "Cancel", :back %>
      </p>
    </ol>
  </fieldset>
<% end %>
