<h1>Edit <%= @track.title %></h1>

<%= form_for([@project, @track]) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
