<%= currently_at 'Projects' %>

<article>
  <header><%= @track.title %></header>
  <p><%= @track.description %></p>
  <p><%= @track.version %></p>
  <p><%= link_to "Edit", edit_project_track_path(@project, @track) %></p>
</article>

<h2><%= pluralize(@track.comments.size, "Comment") %></h2>

<% @track.comments.each do |comment| %>
  <article>
    <header><%= comment.title %></header>
    <p><%= comment.comment %></p>
    <p><%= link_to "Edit Comment",
                   edit_track_comment_path(@track, comment) %> |
       <%= link_to "Delete Comment", track_comment_path(@track, comment),
                   method: :delete,
                   data: { confirm: "Are you sure to delete the comment?" } %>
    </p>
  </article>
<% end %>

<% content_for :sidebar do %>
  <nav id='menu'>
    <%= link_to "Back to '#{@project.title}'", project_path(@project) %><br/>
    <%= link_to "Create new Comment", new_track_comment_path(@track) %>
  </nav>
<% end %>
