<%= currently_at 'Projects' %>

<article class="track">
  <header><h1><%= @track.title %></h1></header>
  <p>
    <% if @track.user %>
      <%= gravatar_for(@track.user) %>
      <%= @track.user.name %>
    <% else %>
      No user assigned!
    <% end %>
  </p>
  <section class="user_input"><%= markdown @track.description %></section>
  <br/>
  <table>
    <tr><th>Version</th><td><%= @track.version %></td></tr>
    <tr><th>Category</th><td><%= @track.category %></td></tr>
    <tr><th>Status</th><td><%= @track.status %></td></tr>
    <tr><th>Sequence</th><td><%= @track.sequence %></td></tr>
  </table>
  <p><%= link_to "Edit", edit_project_track_path(@project, @track),
                 class: "button" %>
     <% if current_user?(@track.user) %>
       |
       <%= link_to "Delete", project_track_path(@project, @track),
                   method: :delete,
                   data: { confirm: "Are you sure to delete the track?" } %> 
     <% end %>
  </p>
</article>

<h2><%= pluralize(@track.comments.size, "Comment") %></h2>

<% @track.comments.each do |comment| %>
  <ul id="comments">
    <article class="comment">
      <header><h2><%= comment.title %></h2></header>
      <p>
        <% if comment.user %>
          <%= gravatar_for(comment.user) %>
          <%= comment.user.name %>
        <% else %>
          No user assigned!
        <% end %>
      </p>
      <section class="user_input"><%= markdown comment.comment %></section>
      <p><%= link_to "Edit Comment",
                     edit_track_comment_path(@track, comment), 
                     class: "button" %>
         <% if current_user?(comment.user) %>
           |
           <%= link_to "Delete Comment", track_comment_path(@track, comment),
                       method: :delete,
                       data: {
                         confirm: "Are you sure to delete the comment?" 
                       } %>
         <% end %>
      </p>
    </article>
  </ul>
<% end %>

<% content_for :secondary_nav do %>
  
  <%= breadcrumbs [link_to('Projects', projects_path),
                   link_to(truncate(@project.title), project_path(@project)),
                   truncate(@track.title)] %>

<% end %>

<% content_for :functional_nav do %>
  <ul>
    <li><%= link_to "Create new Comment", 
                    new_track_comment_path(@track) %></li>
    <li><%= link_to "Create new Track", 
                    new_project_track_path(@project) %></li>
  </ul>
<% end %>
