<%= currently_at 'Projects' %>

<article class="track">
  <header><h1><%= @track.title %></h1></header>
  <p><%= @track.description %></p>
  <p><%= @track.version %></p>
  <p><%= link_to "Edit", edit_project_track_path(@project, @track),
                 class: "button" %></p>
</article>

<h2><%= pluralize(@track.comments.size, "Comment") %></h2>

<% @track.comments.each do |comment| %>
  <ul id="comments">
    <article class="comment">
      <header><h2><%= comment.title %></h2></header>
      <p><%= comment.comment %></p>
      <p><%= link_to "Edit Comment",
                     edit_track_comment_path(@track, comment), 
                     class: "button" %> |
         <%= link_to "Delete Comment", track_comment_path(@track, comment),
                     method: :delete,
                     data: { confirm: "Are you sure to delete the comment?" } %>
      </p>
    </article>
  </ul>
<% end %>

<% content_for :functional_nav do %>
  <ul>
    <li><%= link_to "Back to '#{@project.title}'", 
                    project_path(@project) %><br/></li>
    <li><%= link_to "Create new Comment", 
                    new_track_comment_path(@track) %></li>
  </ul>
<% end %>
