<%= currently_at 'Projects' %>

<%= form_for([@track, @comment]) do |f| %>
  <%= render partial: 'shared/errors', locals: { attribute: @comment } %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :comment %>
        <%= f.text_area :comment, cols: 40, rows: 7 %>
      </li>
      <%= render 'shared/markdown_instructions' %>
      <p>
        <%= f.submit class: "button" %> |
        <%= link_to "Cancel", :back %>
      </p>
    </ol>
  </fieldset>
<% end %>
