<%= currently_at 'Projects' %>

<%= form_for([@track, @comment]) do |f| %>
  <%= render partial: 'shared/errors', locals: { attribute: @comment } %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :comment %><br/>
    <%= f.text_area :comment, cols: 40, rows: 7 %>
  </p>
  <p>
    <%= f.submit %> |
    <%= link_to "Cancel", :back %>
  </p>
<% end %>
