<ul id="tracks">
  <table> 
    <thead>
      <th>Sequence</th>
      <th>Title</th>
      <th>Description</th>
      <th>Comments</th>
    </thead>
    <tbody>
      <% @tracks.each do |track| %>
        <tr data-link="<%= project_track_path(@project, track) %>"
          class="<%= row_status_color(track.status) %> data"
          title="<%= "#{track.sequence}-#{track.status}-#{track.category}" %>">
          <td class="first"><%= track.sequence %></td>
          <td 
            class="first"><%= link_to track.title,
                                      project_track_path(@project, track) %>
          </td>
          <td class="middle">
            <%= truncate(track.description, length: 180) %>
          </td>
          <td class="last"><%= track.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</ul>

