<%= currently_at 'Projects' %>

<ul id="projects">
  <% @projects.each do |project| %>
    <li>
      <article class="project">
        <header data-link="<%= project_path(project) %>">
          <h2><%= link_to project.title, project_path(project) %></h2>
        </header>
        <p>
          <%= truncate(project.description, length: 80, separator: ' ') %> 
        </p>
        <p>
          <%= pluralize(project.tracks.size, "track") %>
        </p>
        <p><%= link_to "Edit", edit_project_path(project), 
                       class: "button" %></p>
      </article>
    </li>
  <% end %>
</ul>

<% content_for :functional_nav do %>
  <ul>
    <li><%= link_to "Create new Project", new_project_path %></li>
  </ul>
<% end %>
