<%= currently_at 'Projects' %>

<article class="project">
  <header><h1><%= @project.title %></h1></header>
  <%= render 'urls' %>
  <p>
    <% if @project.user %>
      <%= gravatar_for(@project.user, "Project owner") %>
      <%= @project.user.name %>
    <% else %>
      No user assigned!
    <% end %>
  </p>
  <%= render 'contributors' %>
  <p>
    <% if @project.active %>
      <strong><%= @project.title %></strong> is actively maintained
    <% else %>
      <strong><%= @project.title %></strong> is inactive
    <% end %>
  </p>
  <p><%= @project.description %></p>
  <p>
    <%= link_to "Edit", edit_project_path(@project), class: "button" %> 
    <% if current_user?(@project.user) %>
      |
      <%= link_to "Delete", project_path(@project), 
                  method: :delete, 
                  data: { 
                    confirm: 'Are you sure to delete the application?'
                  }
      %>
    <% end %>
  </p>
</article>

<h2><%= pluralize(@tracks.size, "Track") %></h2>

<section id="filter">
  <%= render "filter" %>
</section>

<section id="tracks">
  <%= render "tracks" %>
</section>

<% content_for :secondary_nav do %>
  <%= breadcrumbs [link_to('Projects', projects_path),
                   truncate(@project.title) ] %>
<% end %>

<% content_for :functional_nav do %>
  <ul>
    <li><%= link_to "Create new Track", new_project_track_path(@project) %></li>
  </ul>
  <ul>
    <li><%= link_to "Create new Project", new_project_path %></li>
  </ul>
<% end %>
