<%= currently_at 'Projects' %>

<article class="project">
  <header><h1><%= @project.title %></h1></header>
  <%= render 'urls' %>
  <p>
    <% if @project.user %>
      <%= gravatar_for(@project.user) %>
      <%= @project.user.name %>
    <% else %>
      No user assigned!
    <% end %>
  </p>
  <p>
    <% if @project.active %>
      <strong><%= @project.title %></strong> is actively maintained
    <% else %>
      <strong><%= @project.title %></strong> is inactive
    <% end %>
  </p>
  <p><%= @project.description %></p>
  <p>
    <%= link_to "Edit", edit_project_path(@project), class: "button" %> 
    <% if current_user?(@project.user) %>
      |
      <%= link_to "Delete", project_path(@project), 
                  method: :delete, 
                  data: { 
                    confirm: 'Are you sure to delete the application?'
                  }
      %>
    <% end %>
  </p>
</article>

<h2><%= pluralize(@project.tracks.size, "Track") %></h2>

<ul id="tracks">
  <table> 
    <thead>
      <th>Title</th>
      <th>Description</th>
      <th>Comments</th>
    </thead>
    <tbody>
      <% @project.tracks.each do |track| %>
        <tr data-link="<%= project_track_path(@project, track) %>"
          class="<%= row_status_color(track.status) %> data"
          title="<%= track.status %> <%= track.category %>">
          <td 
            class="first"><%= link_to track.title,
                                      project_track_path(@project, track) %>
          </td>
          <td class="middle"><%= track.description %></td>
          <td class="last"><%= track.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</ul>

<% content_for :secondary_nav do %>
  <%= breadcrumbs [link_to('Projects', projects_path),
                   truncate(@project.title) ] %>
<% end %>

<% content_for :functional_nav do %>
  <ul>
    <li><%= link_to "Create new Track", new_project_track_path(@project) %></li>
  </ul>
<% end %>
