<h1><%= @project.title %></h1>

<article>
  <header><%= @project.title %></header>
  <p><%= @project.description %></p>
  <p>
    <%= link_to "Edit", edit_project_path(@project) %> | 
    <%= link_to "Delete", project_path(@project), 
                method: :delete, 
                data: { confirm: 'Are you sure to delete the application?' } %>
  </p>
</article>

<h2><%= pluralize(@project.tracks.size, "Track") %></h2>

<% @project.tracks.each do |track| %>
  <article>
    <header>
      <%= link_to track.title, project_track_path(@project, track) %>
    </header>
    <p><%= track.description %></p>
    <p>
      <%= link_to "Delete Track", project_track_path(@project, track),
                  method: :delete, 
                  data: { confirm: "Are you sure to delete the track?" } %>
    </p>
  </article>
<% end %>

<p>
  <%= link_to "All Applications", projects_path %> |
  <%= link_to "Create new Track", new_project_track_path(@project) %>
</p>
