<%= currently_at 'Projects' %>

<article class="project">
  <header><h1><%= @project.title %></h1></header>
  <p><%= @project.description %></p>
  <p>
    <%= link_to "Edit", edit_project_path(@project), class: "button" %> | 
    <%= link_to "Delete", project_path(@project), 
                method: :delete, 
                data: { 
                  confirm: 'Are you sure to delete the application?' 
                }
    %>
  </p>
</article>

<h2><%= pluralize(@project.tracks.size, "Track") %></h2>

<ul id="tracks">
  <table> 
    <thead>
      <th>Title</th>
      <th>Description</th>
      <th>Comments</th>
    </thead>
    <tbody>
      <% @project.tracks.each do |track| %>
        <tr data-link="<%= project_track_path(@project, track) %>"
            class="<%= cycle('list_line_odd', 'list_line_even') %> data">
          <td class="first"><%= track.title %></td>
          <td class="middle"><%= track.description %></td>
          <td class="last"><%= track.comments.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</ul>

<% content_for :functional_nav do %>
  <ul>
    <li><%= link_to "All Applications", projects_path %></li>
    <li><%= link_to "Create new Track", new_project_track_path(@project) %></li>
  </ul>
<% end %>
