<header id="page_header" role="banner">
  <nav id="utility">
    <p>
      <% if signed_in? %>
        You are signed in as 
        <strong><%= link_to current_user.name, current_user %></strong>
        <%= link_to "[Your Account]", edit_user_path(current_user) %> |
        <%= link_to "[Sign out]", signout_path, method: "delete" %>
      <% else %>
        <%= link_to "[Sign in]", signin_path %>
      <% end %>
    </p>
  </nav>
  <%= link_to image_tag("apptrack_logo.png", alt: "apptrack", id: "logo"), 
              root_url, title: "Dashboard" %>
  <%= yield :main_navigation %>
</header>
