<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Apptrack | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", 
                             "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>
  <%= image_tag "tagline.png",
                alt: "Application Management made Easy",
                id: "tagline" %>
  <%= render "layouts/flashes" %>

  <%= yield :secondary_nav %>

  <div class="container">
    <section id="content">
      <%= yield %>
    </section>
    <section id="sidebar">
      <nav id="functional_nav">
        <%= yield :functional_nav %>
      </nav>
      <%= yield :sidebar %>
      <section id="recent_activity">
        <header><h1 class="ir" id="recent">Recent Activity</h1></header>
        <%= render "activity_items/recent_activities" %>
      </section>      
    </section>
    <%= debug(params) if Rails.env.development? %>
  </div>

  <%= render "layouts/footer" %>

</body>
</html>
